.monster-template {
  &__error {
    padding: 40px;
    border: 1px solid red;
    background-color: tomato;
    text-align: center;
    border-radius: 10px;
    color: white;

    p {
      margin: 0;
    }
  }
}