@import './../../style/_variables.scss';
@import './../../style/_mixins.scss';

.menu {
  position: relative;
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

    @include small {
      display: flex !important;
      justify-content: flex-end;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    padding: 10px 15px;
    font-family: $font-special;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: white;

    &:hover, &--active {
      background-color: white;
      color: $background-2;
    }
  }

  &__checkbox {
    position: absolute;
    left: -9999px; /*display none */

    &:checked ~ .menu__list {
      display: block;
    }
  }
  &__toggler {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: -52px;
    color: white;

    @include small {
      display: none;
    }
  }
}