@import "./../../style/_variables.scss";

.display-monster {

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    label {
      color: gray;
    }

    input {
      margin-left: 20px;
    }
  }

  &__button {
    font-family: $font-default;
    font-weight: 700;
    font-size: 20px;
    background-color:  $background-4;
    border: 1px solid $background-4;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;

    &:hover {
      background-color: $background-6;
      border: 1px solid $background-6;
    }
    &:disabled {
      background-color: white;
      border: 1px solid lightgrey;
      color: lightgrey;
    }
  }

  &__buttons {
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 30px;
    }
  }


  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__next {
    background-color: $background-4;
    padding: 25px;
    border: none;
    border-radius: 50%;
    color: white;
    font-family: $font-special;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;

    &:hover {
      background-color: $background-6;
    }
  }
  &__error {
    padding: 40px;
    border: 1px solid red;
    background-color: tomato;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin: 20px;
    p {
      margin: 0;
    }
  }
}
