@import "./../../style/_variables.scss";

.generate-monster {
  &__image {
    width: 300px;
    background-color: white;
    margin: 20px auto;

    @media screen and (min-width: 960px) {
      width: 500px;
      flex: 1 0 500px;
      align-self: center;
    }
  }
  &__customize {
    background-color: $background-2;
    color: white;
    padding: 5px;

    @media screen and (min-width: 960px) {
      border-radius: 20px;
    }
  }

  &__body {
    @media screen and (min-width: 960px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }

  &__code {
    text-align: center;
    font-family: $font-special;
    font-size: 20px;
    margin: 10px 0;
    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 25px;
      color: $background-1;
    }
  }
  &__button {
    text-align: center;
    margin: 10px 0;
    button {
      font-family: $font-default;
      font-weight: 700;
      font-size: 20px;
      background-color: $background-4;
      border: 1px solid $background-4;
      border-radius: 5px;
      padding: 5px 10px;

      &:hover {
        background-color: $background-6;
        border: 1px solid $background-6;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
  &__bottom {
    @media screen and (min-width: 960px) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 30px 0;
    }
  }
}
