@import "./../../style/_variables.scss";

.generate-monster {
  &__image {
    width: 300px;
    background-color: white;
    margin: 20px auto;

    @media screen and (min-width: 960px) {
      width: 500px;
      flex: 1 0 500px;
      align-self: center;
    }
  }
  &__customize {
    background-color: $background-2;
    color: white;
    padding: 5px;

    @media screen and (min-width: 960px) {
      border-radius: 20px;
    }
  }

  &__body {
    @media screen and (min-width: 960px) {
      display: flex;
      gap: 30px;
    }
  }

  &__code {
    text-align: center;
    font-family: $font-special;
    font-size: 20px;
    padding: 30px;

    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 25px;
      color: $background-1;
    }
  }
}
