@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --grey-100: hsl(0, 0%, 10%);
  --grey-200: hsl(0, 0%, 20%);
  --grey-300: hsl(0, 0%, 30%);
  --grey-400: hsl(0, 0%, 40%);
  --grey-500: hsl(0, 0%, 50%);
  --grey-600: hsl(0, 0%, 60%);
  --grey-700: hsl(0, 0%, 70%);
  --grey-800: hsl(0, 0%, 80%);
  --grey-900: hsl(0, 0%, 90%);

  --c-blue: #44abdd;
  --c-green: #99C027;
  --c-red: #C05746;

  --primary: #004769;
  --accent: #fc0;
  --c-light: #f1f0eb;




  --c-blue-light: #c5cbe3;
  --c-red: #f13c1f;
  --c-yellow: #d79922;

  --font-default: 'Cairo', sans-serif;
  --font-special: 'Patrick Hand', cursive;

  --spacer: 1rem;
  --spacer-quarter: calc(var(--spacer) / 4);
  --spacer-half: calc(var(--spacer) / 2);
  --spacer-bigger: calc(var(--spacer) * 1.5);
  --spacer-double: calc(var(--spacer) * 2);
}

body {
  margin: 0;
  font-family: var(--font-default);
  background-color: var(--grey-900);
}

.container {
  margin: 0 auto;
  background-color: white;
  max-width: 66rem;
}

h1,
h2,
h3 {
  font-family: var(--font-special);
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}

:is(h1, h2, h3):first-child {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
}

section {
  padding: 30px;
}

p+p {
  margin-bottom: 0;
}
