@import "./../../style/_variables.scss";
@import './../../style/_mixins.scss';

.home {
  padding-top: 20px;

  @include large {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 30px;
    grid-auto-flow: row;
  }

  &__link {
    display: block;
    width: 250px;
    padding: 40px;
    margin: 10px auto;
    background-color: $background-4;
    border-radius: 50%;
    text-align: center;
    color: white;
    text-decoration: none;

    @include large {
      &--generate {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      &--display {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
      }
    }
    &:hover {
      background-color: $background-6;
    }
  }

  &__action {
    text-transform: uppercase;
  }
  &__description {
    margin: 0;
    font-size: 12px;
  }
  &__info {
    text-align: center;

    @include large {
      grid-column: span 2;
      margin-bottom: 50px;
    }
  }
  &__picture {
    width: 200px;
    padding-top: 30px;
    margin: 0 auto;
  }

}
