$background-1: #295288;
$background-2: #3c79c9;
$background-3: #57b5f5;

//#FFEAEE
//#EBEBD3

$background-4: #F79256;
$background-5: #FBD1A2;


$font-default: 'Cairo', sans-serif;
$font-special: 'Patrick Hand', cursive;