@import "./../../style/_variables.scss";
@import './../../style/_mixins.scss';

.gallery {
  &__list {
    display: grid;
    gap: 25px;
    justify-items: center;
    align-items: center;

    grid-auto-flow: row dense;

    @include small {
      grid-template-columns: repeat(2, 1fr);
    }
    @include medium {
      grid-template-columns: repeat(3, 1fr);
    }
    @include large {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__photo {
    width: 200px;

    position: relative;

    svg {
      display: block;
    }
    p {
      text-align: center;
      padding: 3px;
      margin: 0 auto;
      font-size: 12px;
      font-weight: 700;
      background-color: rgb(255, 255, 255, 0.8);

      @include large {
        background-color: rgb(255, 255, 255, 0.8);

        padding: 3px;
        position: absolute;
        width: 80%;
        left: calc(20% / 2);
        bottom: 5%;
        border-radius: 50px;
        transition: transform 0.3s;
        visibility: hidden;
      }
    }

    @include large {
      transition: transform 0.3s;
      position: relative;
      overflow: hidden;

      &:hover {
        transform: scale(110%);
      }
      &:hover p {
        visibility: visible;
      }

      &:nth-child(4n) {
        /* kazdy paty element */
        grid-column: span 2;
        grid-row: span 2;
        width: 400px;
      }
    }
  }
}
