@import './../../style/_variables.scss';

.footer {
  color: white;
  background-color: $background-1;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 20px;
  font-size: 13px;

  &__links {
    font-size: 10px;
    a {
      color: white;
    }
  }
  
}