.footer {
  background-color: var(--c-red);
  color: white;
  padding: 10px 30px;

  &__links {
    font-size: 10px;
    a {
      color: white;
    }
  }

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}