.article {
  padding: 0 20px;
  &__meta {
    color: gray;
  }

  &__content {
    @media screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 50px;
    }
  }

  &__perex {
    font-weight: bold;
    font-size: 1.2em;
  }

  &__image {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
